<div class="row ">
    <div class="col my-auto">
        <form class="mt-5" [formGroup]="searchForm">
            <div class="input-group">
                <input (keyup.enter)="doSearch()" (keyup)="clearValidator()" formControlName="searchInput" type="text" class="form-control"
                    placeholder="Search..." aria-label="Search" aria-describedby="Search">
                <span (click)="doSearch()" style="cursor:pointer;" class="input-group-text" id="search-icon"><img
                        style="width:1rem;" src="../../assets/images/search-solid.svg"></span>
            </div>
            <div *ngIf="!searchForm.get('searchInput')!.valid" class="invalid-input d-block">
                Invalid Search! 
            </div>
        </form>
    </div>
</div>